<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--//cn.ConnectionString = @"Data Source=192.168.0.122;Initial Catalog = nuslvdb; User ID = common; Password = billal;";-->
    <!--cn.ConnectionString = @"Data Source=192.168.0.31;Initial Catalog = nuslvdb; User ID = sa; Password = 123;";-->
    <!--<add name="dbcon" connectionString="Data Source=BILLAL-PC\SQLEXPRESS;Initial Catalog=nuslvdb;Integrated Security=True;"/>-->
    <add name="dbcon" connectionString="Data Source=192.168.0.31;Initial Catalog=nuslvdb;User ID = sa; Password = 123;"/>
  </connectionStrings>
</configuration>
